# Code Owners

# Global owners
*       @theideaiq/devs

# Infrastructure
/.github/   @theideaiq/devs
/scripts/   @theideaiq/devs

# Apps
/apps/web/   @theideaiq/devs
/apps/admin/ @theideaiq/devs
/apps/droid/ @theideaiq/devs

# Packages
/packages/ui/      @theideaiq/devs
/packages/config/  @theideaiq/devs
/packages/utils/   @theideaiq/devs
/packages/env/     @theideaiq/devs
