version: 2
updates:
  - package-ecosystem: 'npm' # pnpm uses the npm ecosystem in Dependabot
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      dependencies:
        patterns:
          - '*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
