@import "tailwindcss";
@source "../../../../packages/ui";
@config "../../../../packages/ui/tailwind.config.ts";

@theme {
  /* 1. Define Fonts */
  /* This maps the Next.js font variables to Tailwind utilities */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;

  /* Creates the 'font-arabic' utility class */
  --font-arabic: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
}

/* 3. Global Styles */
body {
  font-family: var(--font-sans);
  @apply bg-slate-50 text-brand-dark;

  /* Font Smoothing: Makes text look sharper, especially important for Arabic script */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4. Utilities */

/* Hide Scrollbar but allow scrolling (for horizontal sliders) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
