@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: ui-sans-serif, system-ui, sans-serif;

  /* Brand Colors */
  --color-brand-pink: #e91e63;
  --color-brand-yellow: #ffd600;
  --color-brand-dark: #0f172a;
  --color-brand-deep: #0f1014;

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
